In [46]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [47]:
dt=pd.read_csv("spam.csv")
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [5]:
dt['spam'] = dt['type'].map( {'spam': 1, 'ham': 0} ).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
print("COLUMS IN THE GIVEN DATA:")
for col in dt.columns:
    print(col)

COLUMS IN THE GIVEN DATA:
type
text
spam

In [48]:
dt.shape

(116, 2)

In [49]:
dt.columns

Index(['type', 'text'], dtype='object')

In [11]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116
NO OF ROWS IN REVIEW COLUMN: 116

In [50]:
#Download the stopwords package
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\sruthi
[nltk_data]     priya\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [51]:
dt['text'][1]#before

'Ok lar... Joking wif u oni...'

In [52]:
def tokenizer(text):
    return text.split()

In [53]:
dt['text']=dt['text'].apply(tokenizer)

In [54]:
dt['text'][1]#after

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [55]:
dt['text'][1]#before

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [56]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [57]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [58]:
dt['text']=dt['text'].apply(stem_it)

In [59]:
dt['text'][1] #after stemming

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [60]:
dt['text'][100] #before

['pleas',
 "don't",
 'text',
 'me',
 'anymore.',
 'i',
 'have',
 'noth',
 'els',
 'to',
 'say.']

In [69]:
import nltk
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to C:\Users\sruthi
[nltk_data]     priya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [70]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word, pos ="a") for word in text]

In [71]:
dt['text']=dt['text'].apply(lemmit_it)

In [72]:
dt['text'][100] #after

['pleas',
 "don't",
 'text',
 'me',
 'anymore.',
 'i',
 'have',
 'noth',
 'els',
 'to',
 'say.']

In [73]:
dt['text'][17] #before

['eh',
 'u',
 'rememb',
 'how',
 '2',
 'spell',
 'his',
 'name...',
 'yes',
 'i',
 'did.',
 'he',
 'v',
 'naughti',
 'make',
 'until',
 'i',
 'v',
 'wet.']

In [74]:
#from nltk.corpus import stopwords
#print(stopwords.words('english'))
#set(['a','t','d','y'])"

In [75]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [76]:
def stop_it(text):
    review = [word for word in text if not word in stop_words ]
    return review

In [77]:
dt['text']=dt['text'].apply(stop_it)

In [78]:
dt['text'][17] #after

['eh',
 'u',
 'rememb',
 '2',
 'spell',
 'name...',
 'yes',
 'did.',
 'v',
 'naughti',
 'make',
 'v',
 'wet.']

In [88]:
dt['text']=dt['text'].apply(' '.join)

In [90]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.type.values
x=tfidf.fit_transform(dt['text'])

In [92]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [93]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("accuracy:",acc_log )

accuracy: 87.5

In [94]:
from sklearn.svm import LinearSVC
linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc =accuracy_score(y_pred, y_text) * 100
print("accuracy:",acc_linear_svc)

accuracy: 87.5